a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

body {
    background: gainsboro;
}

h1 {
    font-family: Verdana;
    float: left;
    margin: 30px 0 0 0;
}

summary {
    font: bold 18px Verdana;
}

footer {
    font-family: Verdana;
    max-width: 1280px;
    width: 100%;
    height: 20px;
    background: white;
    clear: both;
}

.central {
    margin: auto;
    max-width: 1280px;
    height: auto;
    min-height: 600px;
    background: white;
    border: solid gray 2px;
}

.head {
    font-family: Verdana;
    max-width: 1280px;
    width: 100%;
    height: 120px;
    background: white;
    border-bottom: solid gray 2px;
}

.headerTable {
    position: relative;
    right: 20px;
    top: 30px;
}

.headerTableLogin {
    height: auto;
    width: 100px;
    float: right;
}

.main {
    font-family: Verdana;
    height: auto;
    min-height: 600px;
    width: 1280px;
    float: left;
    background: white;
}

.mainError {
    font-family: Verdana;
    height: 600px;
    width: 1186px;
    float: left;
    background: white;
    border: solid gray 2px;
    padding: 20px 0 0 10px;
}

.copyright {
    align-content: center;
    text-align: center;
    font-size: 15px;
    border-top: solid gray 2px;
}

.tag {
    float: left;
    text-align: left;
    font-size: 15px;
    margin: 0 5px 0 0;
    width: 590px;
}

.tablePanda {
    margin: auto;
    border-collapse: collapse;
    font-size: 16px;
    font-family: Arial;
}

.tablePanda th {
    border: solid 1px gray;
    background: #92D89C;
    padding: 3px;
}

.tablePanda td {
    border: solid 1px gray;
    text-align: center;
    padding: 3px;
}

.login {
    font-family: Verdana;
    width: 500px;
    height: auto;
    margin: auto;
    background: white;
    border: solid gray 2px;
}

.headerLogo {
    margin: 0px 0 0 20px;
    float: left;
}

.imagePandaLogin {
    float: left;
    margin: 10px;
}

.headerLogin {
    width: auto;
    height: 123px;
}

.logo {
    font: bold 40px Verdana;
    width: 250px;
    float: left;
    margin: 15px 0 0 10px;

}

.infoLogin {
    width: 500px;
    height: auto;
    clear: both;
}

.firstButton {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 16px;
    padding: 8px 40px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.firstButton:hover {
    background-color: #5cbf2a;
}

.firstButton:active {
    position: relative;
    top: 1px;
}

.secondButton {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 14px;
    padding: 6px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.secondButton:hover {
    background-color: #5cbf2a;
}

.secondButton:active {
    position: relative;
    top: 1px;
}

.white a {
    color: #ffffff;
}

.newsFooter {
    text-align: right;
    margin: 15px 0 0 0px;
}

.newsPagination {
    text-align: center;
    /*padding-bottom: 20px;*/
}

.newsShortText {
    margin: 15px 0 0 0px;
}

.newsTitle {
    margin: 15px 0 0 0px;
}

.newsTag {
    color: #18ab29;
}

.addComment {
    height: 100px;
    width: 500px;
    height: auto;
    resize: vertical;
}

.newsFullText {
    margin: 5px 5px 5px 5px;
    text-align: justify;
}

.newsTags {
    text-align: right;
}

.news {
    margin: 5px 30px 5px 30px;
}

.newsFooterButton {
    display: block;

    margin: 10px;
}

.newsFooterButton a{
    text-decoration: underline;
}

.newsFooterPrevious {
    float: left;
    width: 50%;
    display: inline-block;
    text-align: left;
}

.newsFooterNext {
    float: left;
    width: 50%;
    display: inline-block;
    text-align: right;
}

.inline{
    display: block;
    margin: 10px;
}

.inputForm {
    display: inline-block;
}

.pressed-button{
    background-color: #44c767;
}

.dropdown-check-list{
    display: inline-block;
}
.dropdown-check-list:focus{
    outline:0;
}
.dropdown-check-list .anchor {
    width: 120px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
    border:1px #ccc solid;
}
.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
}
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}
.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}
.dropdown-check-list ul.items li {
    list-style: none;
}
.dropdown-check-list.visible .anchor {
    color: #0094ff;
}
.dropdown-check-list.visible .items {
    position: absolute;
    display: block;
    background-color: white;
}

.newsList {
    height: auto;
    min-height: 540px;
    margin: 10px 10px 10px 10px;
}

.newsComment {
    margin: 10px 10px 10px 0px;
    background-color: #cccccc;
    width: 500px;
}

.postButton {
    margin: 10px 10px 10px 0px;
    width: 500px;
    text-align: right;
}

.backButton a{
    text-decoration: underline;
}